/* .fom{
    width: 100%;
   justify-content: center;
   text-align: center; 
}
.fom img{
    width: 150px;
}
.fom h2{
    text-decoration: underline;
}
#jus label{
/* font-size: medium; */
/* color: brown !important; */
/* } */


.fom input, .fom select, .fom button{
border: 1px solid black;
display: flex;
gap: 25px;
margin-left: 500px;
}

.fom label{
margin-left: 500px;

}
.btnn{
    /* border: 1px; */
    padding: auto !important;
    margin-left: 45% !important;
    margin-bottom: 60px;
    /* justify-items: center  !important; */
    /* justify-content: center !important; */

}